<link rel="stylesheet" href="css/course.css">
<div class="container-fluid course-section" style="color:#ffffff;">
    <div class="row">
        <div class="col-md-12 course-header">
            <div class="col-md-12">
                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
                <div class="col-md-12 flex">
                    <span><i class="fa fa-users" aria-hidden="true"></i>
                                10 learners</span><span class="rateYo1"> (4.5) </span><span>195 Rating</span>
                </div>
            </div>
            <div class="col-md-12 author">
                <h3>About The Author</h3>
                <div class="author-img-container">
                    <img class="author-img" src="img/boy.svg">
                    <p>Jhon Doe</p>
                    <div>
                        <!--<h3>Follow us</h3>-->
                        <div class="social-icons footer-list">
                            <a href="#"><img src="images/socialicons/facebook.svg" class="social-icon"></a>
                            <a href="#"><img src="images/socialicons/twitter.svg" class="social-icon"></a>
                            <a href="#"><img src="images/socialicons/youtube.svg" class="social-icon"></a>
                        </div>
                    </div>
                </div>
                <p class="text-desc">{{post.content}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid black-bg">
    <section class="course-heighlets">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <iframe width="100%" height="427px" src="https://www.youtube.com/embed/IlawbLXJvxQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4">
                        <div class="courses-highlight-list">
                            <h2>Course Heighlights</h2>
                            <hr>
                            <hr>
                            <div class="list-container">
                                <div class="list-item"><i class="fa fa-desktop fa-1x" aria-hidden="true"></i>200 Lectures</div>
                                <div class="list-item"><i class="fa fa-book fa-1x" aria-hidden="true"></i>80+ Quizes</div>
                                <div class="list-item"><i class="fa fa-play-circle fa-1x" aria-hidden="true"></i>80+ Hours of Video sessions</div>
                                <div class="list-item"><i class="fa fa-newspaper-o fa-1x" aria-hidden="true"></i>3 Realtime case studies implementation</div>
                                <div class="list-item"><i class="fa fa-clock-o fa-1x" aria-hidden="true"></i>180 days of Access</div>
                                <div class="list-item"><i class="fa fa-headphones fa-1x" aria-hidden="true"></i>24/7 Support</div>
                                <div class="list-item"><i class="fa fa-building fa-1x" aria-hidden="true"></i>Certification</div>
                                <div class="list-item"><i class="fa fa-building fa-1x" aria-hidden="true"></i>Industry Ready in 8 Weeks</div>
                                <div class="list-item">
                                    <div class="row price">
                                        <div>
                                            <sup>$</sup>149
                                            <span class="delete">
                                                            <del>$300</del>
                                                        </span>
                                            <button class="btn btn-warning">Enroll Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>